{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <form action="/join" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="text" id="username" class="form-control" placeholder="Enter username" name="username">
                    <button type="button" onclick="check()" class="btn btn-warning">중복체크</button>
                </div>
                <div class="mb-3">
                    <input type="password" id="password" class="form-control" placeholder="Enter password"
                        name="password">
                </div>
                <div class="mb-3">
                    <input type="email" id="email" class="form-control" placeholder="Enter email" name="email">
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" placeholder="Enter file" name="pic">
                </div>
                <button id="btnJoin" type="submit" class="btn btn-primary form-control" onsubmit="valid()">회원가입</button>
            </form>
        </div>
    </div>
</div>

<script>
    let usernameSameCheck = false; // 중복체크를 아직 하지 않았다.
    function usernameChange() {
        usernameChange = false;
    }

    function valid() {
        if (usernameSameCheck) {
            return true;
        } else {
            return false;
        }
    }

    async function check() {
        let username = document.querySelector("#username").value;

        let response = await fetch(`/check?username=${username}`);

        let responseBody = await response.json();

        if(responseBody.success) {
            alert(responseBody.data);
        } else {
            alert(responseBody.data);
        }

    }
</script>
{{> layout/footer}}